<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Convert to Title Case!</title>
</head>
<body>
    <div class='container'>
        <h1>Anagram-A-Mama</h1>
        <p>lets find an Anagram</p>



        {{result[0]}}
        <ul>
        {% for item in result[1] %}
          <li>{{item}}</li>
        {% endfor %}
      </ul>

    </div>
</body>
</html>
